<div class="row">

  <h1 class="center">News App</h1>

  <div class="col-md-4">
    <div class="border white">
      <h3 class="title green center">ミクスOnline</h3>
      <% @mikusu.first(5).each do |mikusu| %>
      <ul class="center">
        <li class="list"><%= link_to "#{mikusu.child.inner_html}","https://www.mixonline.jp/#{mikusu.child[:href]}" %></li>
        <% unless current_user == nil %>
          <li class="none"><%= link_to "上の記事を保存",topics_path(topic:{user_id: current_user.id, text: mikusu.child.inner_html,url: "https://www.mixonline.jp/#{mikusu.child[:href]}"  }),{ :method => "post" } %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="border white">
      <h3 class="title red center">GLOBAL HEALTH</h3>
      <% @global.first(5).each do |global| %>
      <ul class="center">
        <li class="list"><%= link_to "#{global.text}","#{global.parent.parent.parent[:href]}" %></li>
          <% unless current_user == nil %>
            <li class="none"><%= link_to "上の記事を保存",topics_path(topic:{user_id: current_user.id, text: global.text,url: "#{global.parent.parent.parent[:href]}"}),{ :method => "post" } %></li>
          <% end %>
      </ul>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="border white">
      <h3 class="title green center">Medical Tribune</h3>
      <% @tribune.first(5).each do |tribune| %>
      <ul class="center">
        <li class="list"><%= link_to "#{tribune.text}","#{tribune.parent.parent[:href]}" %></li>
        <% unless current_user == nil %>
          <li class="none"><%= link_to "上の記事を保存",topics_path(topic:{user_id: current_user.id, text: tribune.text,url: "#{tribune.parent.parent[:href]}"  }),{ :method => "post" } %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
  
</div>


<div class="row">

  <div class="col-md-4">
    <div class="border white">

      <h3 class="title blue">NHKニュース（新着記事）</h3>
      <% @d.first(5).each do |t| %>
      <ul>
        <li class="list"><%= link_to "#{t.children.children.children.text}","https://diamond.jp#{t[:href]}" %></li>
        <% unless current_user == nil %>
          <li class="none"><%= link_to "上の記事を保存",topics_path(topic:{user_id: current_user.id, text: t.children.children.children.text,url: "https://diamond.jp#{t[:href]}"  }),{ :method => "post" } %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="border white">

      <h3 class="title red">DIAMOND ハーバード・ビジネス・レビュー（新着記事）</h3>
      <% @h.first(5).each do |t| %>
      <ul>
        <li class="list"><%= link_to "#{t.text}","http://www.dhbr.net/#{t[:href]}" %></li>
        <% unless current_user == nil %>
          <li class="none"><%= link_to "上の記事を保存",topics_path(topic:{user_id: current_user.id, text: t.text,url: "http://www.dhbr.net/#{t[:href]}"  }),{ :method => "post" } %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="border white">

      <h3 class="title red">スポーツナビ（新着記事）</h3>
      <% @s.first(5).each do |t| %>
      <ul>
        <li class="list"><%= link_to "#{t.text}","#{t[:href]}" %></li>
        <% unless current_user == nil %>
          <li class="none"><%= link_to "上の記事を保存",topics_path(topic:{user_id: current_user.id, text: t.text,url: "#{t[:href]}"  }),{ :method => "post" } %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>

</div>
