<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "NewsApp", root_path, id: "logo" %></li>
        <% if current_user == nil %>
          <li><%= link_to "登録", new_user_registration_path, id: "logo" %></li>
          <li><%= link_to "ログイン", new_user_session_path, id: "logo" %></li>
        <% else %>
          <li><%= link_to "ログアウト",  destroy_user_session_path, { :method => "delete" } %></li>
          <li><%= link_to "保存一覧", "/users/index" %></li>
          <li><%= link_to "ユーザー編集","/users/edit" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
